<h1>TV SHOWS SEARCH</h1>

<form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">
  <div class="show-preferences">
    <div class="show-preferences__forms">
      <mat-form-field class="full-width">
        <mat-select [(ngModel)]="genre" #genreField="ngModel" name="genre" placeholder="Genre">
          <mat-option *ngFor="let genre of genres" [value]="genre.value" [disabled]="processing">
            {{ genre.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input class="newcolor" matInput type="number" name="rating" [(ngModel)]="rating" #ratingField="ngModel" placeholder="Rating greater than..."
          [disabled]="processing" />
      </mat-form-field>
      <div *ngIf="feedbackEnabled && invalidRating">
        <p *ngIf="invalidRating">The rating must be between 1-10</p>
      </div>

      <mat-form-field class="full-width">
        <mat-select [(ngModel)]="language" #languageField="ngModel" name="language" placeholder="Language">
          <mat-option *ngFor="let language of languages" [value]="language.value" [disabled]="processing">
            {{ language.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput type="number" name="date" [(ngModel)]="date" #dateField="ngModel" placeholder="Year greater than.." [disabled]="processing"
        />
      </mat-form-field>
      <div *ngIf="feedbackEnabled && invalidYear">
        <p *ngIf="invalidYear">The year must be lower than 2018</p>
      </div>


    </div>
    <div class="show-preferences__button">
      <div class="field submit">
        <button class="btn" type="submit" [disabled]="processing">Search</button>
      </div>
    </div>
  </div>
</form>