<div class="home-page__title">
<h1>WELCOME</h1>
</div>
<div class="home-page__text">
<p>Random Selector is an App for those who don't want to spend time selecting a movie or a TV show to watch.
  <br>
  <br> Sign Up to start using our amazing features! 
</p>
</div>
<div class="home-page__buttons">
    <div class="home-page__buttons__button">
        <a class="btn" [routerLink]="['/signup']">Sign Up</a>
    </div>
    
    <div class="home-page__buttons__button">
        <a class="btn" [routerLink]="['/login']">Login</a>
    </div>
</div>