@import '../../../scss/_variables.scss';

.home-page {

    &__title {
        @include padding-top-margin-bottom(20px);
        text-align: center;
    }

    &__text {
        @include padding-top-margin-bottom(20px);
        text-align: justify;
    }

    &__buttons {
        @include padding-top-margin-bottom(20px);
        display: flex;
        justify-content: center;
        align-content: space-around;

        &__button{
            display: flex;
        }
    }
}

p {
    font-size: 25px;
    text-align: center;
}