@import '../../../scss/_variables.scss';

.selector {
    
    &__title {
        @include padding-top-margin-bottom(20px);
        text-align: center;
    }
    
    &__text {
        @include padding-top-margin-bottom(20px);
        text-align: justify;
    }
    
    &__buttons {
        display: flex;
        justify-content: center;
        align-content: space-around;

        &__button{
            display: flex;
        }
    }
}