
  <div class="selector__title">
    <h1>WHAT DO YOU WANT TO SEE?</h1>
  </div>
  <div class="selector__text">
    <p>Bacon ipsum dolor amet chuck prosciutto pork short loin, brisket strip steak bresaola cupim ball tip bacon doner cow sirloin.
      Bacon ham hock porchetta, capicola short loin kevin shankle bresaola beef biltong drumstick pork flank cupim pork loin.
      Tail swine pork chop ball tip drumstick landjaeger. Chuck sausage rump pork chop capicola ham hock landjaeger meatloaf.
      Kevin shoulder bresaola tenderloin pancetta cupim biltong. Ground round filet mignon leberkas, sirloin short ribs ball
      tip turkey ham shoulder doner.</p>
  </div>
  <div class="selector__buttons">
    <div class="selector__buttons__button">
      <a class="btn" [routerLink]="['/movies']">Movie</a>
    </div>

    <div class="selector__buttons__button">
      <a class="btn" [routerLink]="['/shows']">Tv Show</a>
    </div>
  </div>
