<div class="selector__title">
  <h1>WHAT DO YOU WANT TO SEE?</h1>
</div>
<div class="selector__text">
  <p>You can get suggestions of Movies or Tv Shows, and select those parameters:</p>
    <ol>
      <li><b>Genre:</b>  The genre of the movies.</li>
      <li><b>Rating:</b>  Minimum rating of the movies.</li>
      <li><b>Language:</b>  Original language of the movies.</li>
      <li><b>Year:</b>  From the selected year to 2018.</li>
    </ol>
</div>
<div class="selector__buttons">
  <div class="selector__buttons__button">
    <a class="btn" [routerLink]="['/movies']">Movie</a>
  </div>

  <div class="selector__buttons__button">
    <a class="btn" [routerLink]="['/shows']">Tv Show</a>
  </div>
</div>