@import '../../../scss/_variables.scss';

.movie-results {
    @include flex-center;

    &__movies {
      @include flex-center-column;
           
      @media only screen and (min-width: 768px) {
        flex-direction: row;
        @include padding-right-left(20px);
      }

    &__poster{
      @include padding-top-margin-bottom(20px);
      @include padding-right-left(20px);
    }
    
    &__info {
      @include flex-center;
      flex-direction: column;
       
      &__title-info {
        @include padding-top-margin-bottom(20px);
        display: flex;
        flex-direction: column;
      }
      
      &__overview {
        @include padding-top-margin-bottom(20px);
          text-align: justify;
        }

      }
    }
}

.spinner::ng-deep circle {
  stroke: $color-primary;
}

mat-form-field {
    font-family: inherit;
}
