@import '../../../scss/_variables.scss';

.movie-results {
    display: flex;
    justify-content: center;
    align-items: center;


    &__movies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__poster{
      @include padding-top-margin-bottom(20px);
    }
    
    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      
      &__title-info {
        @include padding-top-margin-bottom(20px);
        display: flex;
        flex-direction: column;
      }
      
      &__overview {
        @include padding-top-margin-bottom(20px);
          text-align: justify;
        }

      }
    }
}

.spinner::ng-deep circle {
  stroke: $color-green-light-1;
}