@import '../../../scss/_variables.scss';

.login-page {
    @include flex-center;
    flex-direction: column;   
}

.field {
    @include flex-center-column;
    flex-wrap: wrap;
}

.submit {
    @include flex-center-column;
    flex-wrap: wrap;
}

mat-form-field {
    font-family: inherit;
}
