@import './scss/_layout.scss';
@import './scss/_variables.scss';
@import './scss/_typography.scss';
@import './scss/_components.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right bottom, $color-green-light-2, $color-green-dark-1);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

