@import './scss/_variables.scss';

a {
    text-decoration: none;
    color: $color-dark;
    margin: 0 5px;
}

.full-width {
    width: 100%;
}

.btn {
    border: 2px solid $color-green-light-1;
    border-radius: 100px;
    padding: 10px 15px;
    background-color: transparent;
    margin: 10px;
    color: inherit;
    text-decoration: none;
}

.is-processing {
	opacity: 0.5;
}
