@import './scss/_variables.scss';

.site {
  display: flex;
  flex-direction: column;
  margin: 10% 10%;
  min-height: 500px;
  background-color: $color-white;
  box-shadow: $color-dark;
}

#site-header {
  flex: 1 0 auto;
  padding: 10px 0;
  color: $color-dark;
}

#site-footer {
  flex: 1 0 auto;
  text-align: end;
  color: $color-dark;
  padding: 10px 0;
}

#site-main {
  flex: 1 0 auto;
  margin-bottom: 80px;
}

.container {
  margin: 0 20px;

}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}
