@import './scss/_variables.scss';


#site-header {
  flex: 1 0 auto;
  padding: 10px;
  color: $color-black;
}

#site-footer {
  flex: 1 0 auto;
  text-align: end;
  color: $color-black;
  padding: 10px;
}

#site-main {
  flex: 1 0 auto;
  margin-bottom: 80px;
}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}
