@import './scss/_variables.scss';

.site {
  display: flex;
  flex-direction: column;
  margin: 10% 10%;
  min-height: 500px;
  background-color: $color-white;
  box-shadow: $color-dark;

  @media only screen and (max-width: 600px) {
    margin: 0;
    min-height: 100vh;
}

}

#site-header {
  flex: 1 0 auto;
  padding: 10px;
  color: $color-dark;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#site-footer {
  flex: 1 0 auto;
  text-align: end;
  color: $color-dark;
  padding: 10px;
}

#site-main {
  flex: 1 0 auto;
  margin-bottom: 80px;
}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}
