body {
  color: $color-black;
  font-family: 'Gudea', serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {
  font-family: 'Patua One', sans-serif;
  line-height: 100%;
}

h2 {}

h3 {}

p {
  margin: 0;
}
