$color-primary: #3E97B7;
$color-secundary: #327993;
$color-white: #F9FDFF;
$color-black: #142328;
$color-grey-light: #437182;
$color-grey-dark: #3A5159;

@mixin padding-top-margin-bottom($px) {
    padding-top: $px;
    margin-bottom: $px;
}

@mixin padding-right-left($px) {
    padding-right: $px;
    padding-left: $px;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}